use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :merry_christmas, MerryChristmasWeb.Endpoint,
  secret_key_base: "LrlGh3WJsoV/FizV1NKxjS2e3vT5lNVDKfz/86QBKeVO/ZCMBvbgQfxEh0/1m8f7"

# Configure your database
config :merry_christmas, MerryChristmas.Repo,
  username: "postgres",
  password: "postgres",
  database: "merry_christmas_prod",
  pool_size: 15
